@using R34.WebClient.StateProviders;
@inherits LayoutComponentBase

<CascadingValue Value="SearchQuery" IsFixed="false">
<CascadingValue Value="AppSection" IsFixed="false">
    <div class="flex flex-col">
        <div class="flex flex-row gap-4 p-2 bg-pink-300 justify-between">
            <div>
                <a class="text-3xl font-bold text-white rounded bg-violet-300 px-4" href="/">
                    R34 web client
                </a>
            </div>
            
            <RandomPostButton></RandomPostButton>
            @* <AppSectionComponent></AppSectionComponent> *@
        </div>
        <SearchComponent></SearchComponent>
    </div>
    <main class="flex flex-col justify-center p-2">
        @Body
    </main>
</CascadingValue>
</CascadingValue>
@code{
    private SearchQueryStateProvider SearchQuery = new();
    private AppSectionStateProvider AppSection = new();
}
