@using R34.Models;
<div 
    class="flex flex-col gap-1 justify-between rounded-lg bg-white p-2 drop-shadow shadow-white"
    @onclick="PostCardClickHandler">
    <div class="rounded bg-violet-300 text-center text-white">
        @Post.Id
    </div>
    <img class="rounded" src="@Post.SampleUrl" />
    @* @if (ShowFull)
    {
        <div>
            <TagsComponent Post="Post"/>
        </div>
    } *@
    
    <div class="flex">
        <a class="flex-grow text-center text-white bg-pink-300 rounded hover:bg-pink-400" href="/post/@Post.Id">View details</a>
    </div>
</div>
@code {
    [Parameter, EditorRequired] public Post Post { get; set; }
    private bool ShowFull = false;
    private async Task PostCardClickHandler()
    {
        ShowFull = !ShowFull;
    }
}
