@using R34.WebClient.StateProviders;

<form class="flex flex-row justify-stretch p-2 gap-2" @onsubmit="PerformSearch">
    @* <input @bind-value="Query" placeholder="Enter tags"></input> *@
    <input class="bg-gray-200 rounded px-4 flex-grow border-none" @bind-value="SearchQueryInfo.SearchQuery" placeholder="Enter tags"></input>
    <button class="bg-pink-300 px-6 rounded" type="submit">Search</button>
</form>
@code {
    protected override async Task OnInitializedAsync()
    {
        //Query = SearchQueryInfo?.SearchQuery ?? "ass";
        await base.OnInitializedAsync();
    }
    //string _query = "";
    //[Parameter] public string Query { get => SearchQueryInfo?.SearchQuery ?? ""; set => SearchQueryInfo.SearchQuery = value.Trim().Replace('+', ' '); }
    [Inject] public NavigationManager NavigationManager { get; set; }
    [CascadingParameter] public SearchQueryStateProvider? SearchQueryInfo { get; set; }
    async Task PerformSearch()
    {
        // if (SearchQueryInfo is not null)
        //     SearchQueryInfo.SearchQuery = Query;
        NavigationManager.NavigateTo($"/search/{SearchQueryInfo.SearchQuery.Trim().Replace(' ', '+')}/0", new NavigationOptions { ForceLoad = true, });
    }
}
